body {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: white;
}